---
import { proyectos } from "../data/proyectos";
import Titulo from "./landing/Titulo.astro";
---


<section id="Proyectos" class=" bg-gradient-to-b from-[#1e324d7f] to-[#0d161c ] p-4 flex flex-col gap-5">

    <Titulo>Proyectos</Titulo>
    
    <div class="grid grid-cols-1 gap-6">
        {
            proyectos.map((proyecto) => (
                <div class="shadow-lg border-2 overflow-hidden relative group border-blue-950 bg-[#0d161c] rounded-md">
                    <div class="group-hover:blur-sm">
                        <img class="w-full h-full" src={proyecto.img} alt={proyecto.title} title={proyecto.title} />
                    </div>

                    <div class="w-full h-full absolute bg-[#1e324d] group-hover:-translate-y-28 duration-300 pt-2 flex gap-3 flex-col">
                        <h2 class="text-xl text-white uppercase tracking-wide font-bold text-center">{proyecto.title}</h2>
                        <div class="flex justify-around">
                            {
                                proyecto.icons && proyecto.icons.map((icono, index) => (
                                    <img src={icono.icon} alt={`Icono de ${proyecto.title}`} />
                                ))
                            }
                            <img src={proyecto.github}/>
                            <button class="text-white font-bold tracking-wide uppercase sm:hidden">Demo</button>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</section>